<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-helper" version="1.0.0">
    <name>helper</name>
    <author>cyshield</author>
    <description>helper functions.</description>
    <keywords>cordova, helper</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/helper.js" name="helper">
        <clobbers target="helper" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="helper">
                <param name="ios-package" value="helper" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/helper.h" />
        <source-file src="src/ios/helper.m" />
    </platform>
</plugin>
